<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Informações do Leitor</h2>
        </div>
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <h3>Nome: <%= @reader.name %></h3>
            <h3>Email: <%= @reader.email %></h3>
        </div>
    </div>
</div>