<div class="jumbotron">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <%= form_for @user do |f| %>
        <%= render "layouts/errors_messages", object: f.object %>
        <h2>Cadastrar Administrador</h2>
        <%= render "form", f: f %>
        <%= f.submit "Cadastrar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
